oracle-instantclient12.2
oracle-instantclient18.3
oracle-instantclient18.5
oracle-instantclient19.10
oracle-instantclient19.11
oracle-instantclient19.12
oracle-instantclient19.13
oracle-instantclient19.14
oracle-instantclient19.15
oracle-instantclient19.16
oracle-instantclient19.17
oracle-instantclient19.18
oracle-instantclient19.20
oracle-instantclient19.21
oracle-instantclient19.22
oracle-instantclient19.3
oracle-instantclient19.5
oracle-instantclient19.6
oracle-instantclient19.8
oracle-instantclient19.9
